%html
  %head
    %script(src="jquery.js" type="text/javascript")
    %script(src="new_shift_cloud.js" type="text/javascript")
    %script(src="jquery-ui-1.9.2.js" type="text/javascript")
  %body
    #space(style="top: 100px; left: 100px; width: 900px; height: 300px; position: relative; background: #EEEEEE")
      #shiftPadding(src="./cloud.png" style="position: absolute; width: 1; height: 1; background: #DDD")
      %img(src="./cloud.png" style="position: absolute; width: 50; height: 28")
